*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
}

.center{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

.header{
	width: 100%;
	padding: 0 2%;
	height: 60px;
	background-color: darkblue;
}

.header img{
	padding-top: 15px;
}

.container-banner{
	width: 100%;
	padding: 0 2%;
	height: 557px;
	background-image:url(../imagens/header_bg.png);
	background-size: cover;
	background-position: center;
}

.container-banner > .center{
	height: 100%;
	text-align: right;
}

.form{
	width: 400px;
	height: calc(100% + 30px);
	float: right;
	position: relative;
	top: -10px;
	left: -20px;
	border: 5px solid;
	border-color: #ccc;
	background-color: white;
}

.form h2{
	font-weight: normal;
	font-size: 35px;
	text-align: left;
	padding-left: 4px;
	color: grey;
}

.input-container{
	text-align: left;
	color: grey;
	font-size: 30px;
	padding-top: 5px;
	padding-left: 5px;
}

.input-container span{
	display: inline-block;
	width: 100%;
	padding-left: 5px;
}

.input-container input[type=text]{
	width: 344px;
	height: 30px;
	border: 1px solid #ccc;
}

.warning{
	text-align: left;
	padding-top: 100px;
	color: grey;
	font-size: 25px;
}

.form .input-type-container{
	text-align: center;
	padding-top: 15px;
}

.input-type-container input[type=submit]{
	width: 280px;
	height: 56px;
	background-color: darkblue;
	color: white;
	display: inline-block;
	background-color: #363A6D;
	font-size: 30px;
	border: 0;
	cursor: pointer;
}

.container-info{
	margin-top: 65px;
	float: left;
	width: 650px;
	height: 300px;
	background-color: rgba(33, 35, 67, 0.7);
}

.container-info ul{
	list-style-position: inside;
	text-align: left;
	font-weight: normal;
	font-size: 27px;
}

.container-info ul li{
	color: white;
	padding-top: 20px;

}

.container-2{
	padding: 30px 2%;
	background-color: #DDDDDD;
	text-align: center;
}

.container-2 h2{
	font-weight: normal;
}

.container-2 p{
	width: 100%;
	max-width: 768px;
	display: inline-block;
	padding-top: 10px;
	text-align: justify;
}

.seta{
	position: relative;
	top: 60px;
	margin-top: -5px;
	margin-left: 650px;
	width: 45px;
	height: 45px;
	background-image: url(../imagens/arrow.png);
	background-size: 100% 100%;
}

.container-3{
	padding: 100px 2%;

}

.container-3 h2{
	font-weight: normal;
	text-align: center;
}

.container-3-section-01{
		padding-top: 90px;
		text-align: center;
}

.container-3-single{
	float: left;
	width: 33.333%;
}

.container-3-single-text p{
	text-align: justify;
	padding: 30px 25px;
}

.container-3-single img{
	width: 90px;
}

.footer{
	clear: both;
	border-top: 2px solid #888888;
	padding: 30px 0px;
	text-align: center;
	color: #888;
}

.footer p{
	margin-top: 5px;
	font-size: 25px;
}

@media screen and (max-width 500px){
	.header{
		height: auto;
		width: 100%;
		padding: 15px 0;
		text-align: center;
	}

	.header img{
		margin: 0;
	}

	.container-banner{
		width: 100%;
		padding: 40px 2%;
		height: auto;	
	}

	.form{
		max-width: 400px;
		width: 90%;
		height: calc(100% + 30px);
		float: none;
		display: inline-block;
		top: 0px;
	}

	.container-info{
		padding: 30px 0;
		float: none;
		display: inline-block;
		width: 90%;
		height: auto;
		max-width: 500px;
	}

}